In [18]:
import pandas as pd
import seaborn as sns

In [11]:
WHO_COVID_19_global_data = pd.read_csv('mined_csv_data/WHO_COVID_19_global_data.csv')

In [16]:
WHO_COVID_19_global_data.shape

(145395, 9)

In [12]:
WHO_COVID_19_global_data.dtypes

Unnamed: 0            int64
Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [13]:
WHO_COVID_19_global_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,145395.0,72697.000000,4.197207e+04,0.0,36348.5,72697.0,109045.5,145394.0
New_cases,145395.0,1519.342742,9.561092e+03,-32952.0,0.0,11.0,350.0,414188.0
Cumulative_cases,145395.0,312340.723938,1.866923e+06,0.0,31.0,3945.0,72308.5,39795201.0
New_deaths,145395.0,31.438124,1.708808e+02,-60.0,0.0,0.0,5.0,8786.0
Cumulative_deaths,145395.0,7269.544242,3.699574e+04,0.0,0.0,62.0,1188.0,643757.0

In [14]:
WHO_COVID_19_global_data.head(2)

,Unnamed: 0,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0

### DTYPE SETUP

In [15]:
WHO_COVID_19_global_data.Date_reported = pd.to_datetime(WHO_COVID_19_global_data.Date_reported)

In [48]:
# Get top 10 countries based on total new cases
top_10_countries = WHO_COVID_19_global_data.groupby(['Country']).sum().sort_values(by = 'New_cases'
                                                                , ascending=False).index[:10].to_list()